<md-card layout-padding>
        <h2 class="md-title">Education</h2>
	<p class="md-body-1">
		<b>Worcester Polytechnic Institute, Worcester, MA</b>  (May 2015)<br>
		Bachelor of Science in Computer Science<br>
		Minor in Robotics Engineering, Electrical and Computer Engineering<br>
		Dean's List (All Terms)<br>
		GPA: CS/Robotics/ECE: 3.92, Overall: 3.68
	</p>
	<h4 class="md-subhead">Coursework</h4>
	<ul class="md-body-1">
		<li>Software Engineering</li>
		<li>Object-Oriented Design Concepts</li>
		<li>Operating Systems</li>
		<li>Machine Organization and Assembly Programming</li>
		<li>Unified Robotics (<a href="/project/RBE1001">RBE1001</a>, <a href="/project/RBE2001">RBE2001</a>, <a href="/project/RBE3002">RBE3002</a>)</li>
		<li>Digital Circuit Design</li>
	</ul>
</md-card>
